$red-1: #fffcfc;
$red-2: #fff8f8;
$red-3: #ffefef;
$red-4: #ffe5e5;
$red-5: #fdd8d8;
$red-6: #f9c6c6;
$red-7: #f3aeaf;
$red-8: #eb9091;
$red-9: #e5484d;
$red-10: #dc3d43;
$red-11: #cd2b31;
$red-12: #381316;

$indigo-1: #fdfdfe;
$indigo-2: #f8faff;
$indigo-3: #f0f4ff;
$indigo-4: #e6edfe;
$indigo-5: #d9e2fc;
$indigo-6: #c6d4f9;
$indigo-7: #aec0f5;
$indigo-8: #8da4ef;
$indigo-9: #3e63dd;
$indigo-10: #3a5ccc;
$indigo-11: #3451b2;
$indigo-12: #101d46;

$blue-1: #fbfdff;
$blue-2: #f5faff;
$blue-3: #edf6ff;
$blue-4: #e1f0ff;
$blue-5: #cee7fe;
$blue-6: #b7d9f8;
$blue-7: #96c7f2;
$blue-8: #5eb0ef;
$blue-9: #0091ff;
$blue-10: #0081f1;
$blue-11: #006adc;
$blue-12: #00254d;

$teal-1: #fafefd;
$teal-2: #f1fcfa;
$teal-3: #e7f9f5;
$teal-4: #d9f3ee;
$teal-5: #c7ebe5;
$teal-6: #afdfd7;
$teal-7: #8dcec3;
$teal-8: #53b9ab;
$teal-9: #12a594;
$teal-10: #0e9888;
$teal-11: #067a6f;
$teal-12: #10302b;

$grass-1: #fbfefb;
$grass-2: #f3fcf3;
$grass-3: #ebf9eb;
$grass-4: #dff3df;
$grass-5: #ceebcf;
$grass-6: #b7dfba;
$grass-7: #97cf9c;
$grass-8: #65ba75;
$grass-9: #46a758;
$grass-10: #3d9a50;
$grass-11: #297c3b;
$grass-12: #1b311e;

$lime-1: #fcfdfa;
$lime-2: #f7fcf0;
$lime-3: #eefadc;
$lime-4: #e4f7c7;
$lime-5: #d7f2b0;
$lime-6: #c9e894;
$lime-7: #b1d16a;
$lime-8: #94ba2c;
$lime-9: #99d52a;
$lime-10: #93c926;
$lime-11: #5d770d;
$lime-12: #263209;

$orange-1: #fefcfb;
$orange-2: #fef8f4;
$orange-3: #fff1e7;
$orange-4: #ffe8d7;
$orange-5: #ffdcc3;
$orange-6: #ffcca7;
$orange-7: #ffb381;
$orange-8: #fa934e;
$orange-9: #f76808;
$orange-10: #ed5f00;
$orange-11: #bd4b00;
$orange-12: #451e11;

$brown-1: #fefdfc;
$brown-2: #fcf9f6;
$brown-3: #f8f1ea;
$brown-4: #f4e9dd;
$brown-5: #efddcc;
$brown-6: #e8cdb5;
$brown-7: #ddb896;
$brown-8: #d09e72;
$brown-9: #ad7f58;
$brown-10: #a07653;
$brown-11: #886349;
$brown-12: #3f2c22;

$slate-1: #fbfcfd;
$slate-2: #f8f9fa;
$slate-3: #f1f3f5;
$slate-4: #eceef0;
$slate-5: #e6e8eb;
$slate-6: #dfe3e6;
$slate-7: #d7dbdf;
$slate-8: #c1c8cd;
$slate-9: #889096;
$slate-10: #7e868c;
$slate-11: #687076;
$slate-12: #11181c;

$sand-1: #fdfdfc;
$sand-2: #f9f9f8;
$sand-3: #f3f3f2;
$sand-4: #eeeeec;
$sand-5: #e9e9e6;
$sand-6: #e3e3e0;
$sand-7: #dbdbd7;
$sand-8: #c8c7c1;
$sand-9: #90908c;
$sand-10: #868682;
$sand-11: #706f6c;
$sand-12: #1b1b18;
