/* Copyright 2016, 2019 Openworx.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

$font-size-base: (16 / 16) * 1rem !default;

body {
    font-family: 'Inter', sans-serif;
    touch-action: manipulation;
    font-feature-settings: 'cv02' 1, 'cv03' 1, 'cv04' 1, 'cv11' 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.o_loading {
    background-color: $brand-primary-600;
}

.o_main_navbar {
    background-color: $brand-navbar;
    border-bottom: 1px solid $brand-navbar;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: $brand-secondary-1000;
    color: inherit;
}

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: $brand-navbar;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: $brand-navbar;
    color: inherit;
}

.o_main_navbar .show .dropdown-toggle {
    background-color: $brand-navbar;
}

.o_MessagingMenu_counter {
    background-color: $warning-600;
}

#oe_main_menu_navbar {
    border-bottom: 1px solid $brand-navbar;
    background-color: $brand-navbar;
}

.o_menu_apps .dropdown-menu.show {
    background: url("/backend_theme/static/src/img/background.webp");
}

//.app-sidebar {
//    display: none;
//}

// Sidebar
html .o_web_client {
    flex-flow: row wrap;

    > header {
        flex: 0 0 100%;
    }

    > .o_action_manager {
        @media (max-width: 768px) {
            flex: 0 0 100%;
        }
        flex: 0 0 calc(100% - 180px);
        height: calc(100% - 46px) !important;
    }

    .toggle-sidebar ~ .o_action_manager {
        flex: 0 0 100%;
    }
}

.o_DiscussSidebarItem_activeIndicator.o-item-active {
    background-color: $brand-primary-500;
}


.o_search_panel .o_search_panel_category .o_search_panel_section_icon {
    color: $brand-primary-600 !important;
}

// Fix color Add file button
.o_control_panel .o_cp_sidebar .o_hidden_input_file .o_form_binary_form span {
    color: $gray-800 !important;
}

// Buttons

.btn-fill-primary,
.btn-primary {
    color: #FFFFFF;
    background-color: $brand-primary-600;
    border-color: $brand-primary-600;
}

.btn-fill-primary:hover,
.btn-primary:hover {
    color: #FFFFFF;
    background-color: $brand-primary-700;
    border-color: $brand-primary-800;
}

.btn-fill-primary:focus,
.btn-primary:focus,
.btn-fill-primary.focus,
.focus.btn-primary {
    box-shadow: 0 0 0 0.2rem rgba(144, 143, 185, 0.5);
}

.btn-fill-primary.disabled,
.disabled.btn-primary,
.btn-fill-primary:disabled,
.btn-primary:disabled {
    color: #FFFFFF;
    background-color: $brand-primary-600;
    border-color: $brand-primary-600;
}

.btn-fill-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-fill-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-fill-primary.dropdown-toggle,
.show>.dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: $brand-primary-800;
    border-color: $brand-primary-900;
}

.btn-fill-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-fill-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-fill-primary.dropdown-toggle:focus,
.show>.dropdown-toggle.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem $brand-primary-300;
}


.btn-secondary {
    border: none;
}

.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: $gray-200 !important;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: $gray-200 !important;
}


.btn-link {
    color: $brand-primary-600;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
    color: $brand-primary-600;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(.disabled):hover {
    color: $brand-primary-600;
}

.o_dropdown_toggler_btn, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .btn-icon, .o_graph_button {
    text-transform: none !important;
    color: $gray-800 !important;
    background-color: transparent !important;
    border: none !important;
}

.dropdown-menu {
    //    border-radius: 0px;
}

.oe_highlight {
    color: #ffffff !important;
    background-color: $brand-primary-600 !important;
}

.o_external_button {
    color: $brand-primary-600 !important;
    background: #ffffff;
}

.o_button_icon {
    color: $brand-primary-600 !important;
}

.o_FollowButton_unfollow.o-following {
    color: $brand-primary-600;
}

// Badges

.badge {
    border: 1px solid $brand-secondary-600;
}

// Calendar

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active {
    background: none;
    background-color: $brand-primary-600 !important;
    color: #ffffff !important;
}

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default {
    color: $brand-primary-600;
}

.datepicker {
    .table-sm {
        > thead {
            color: white;
            background-color: $brand-primary-600;

            > tr {
                &:first-child {
                    th:hover {
                        color: white;
                        background-color: $brand-primary-700;
                    }
                }

                &:last-child {
                    color: $o-datepicker-week-color;
                    background-color: $o-datepicker-week-bg-color;
                }

                > th {
                    //border-radius: 0;
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    &.active, .active {
                        background-color: $brand-primary-600;
                        border-radius: 100px;
                    }

                    &.today:before {
                        border-bottom-color: $brand-primary-600;
                    }
                }
            }
        }
    }
}

.datepicker .table-sm > tbody > tr > td.active, .datepicker .table-sm > tbody > tr > td .active {
    background-color: $brand-primary-600;
    //border-radius: 0;
}

// Filter search label

.o_searchview {
    .o_searchview_facet {

        background-color: #ffffff;

        .o_searchview_facet_label {
            background-color: $brand-primary-600;
        }
    }
}

a {

    color: $brand-primary-600;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

}

a:hover {

    color: $brand-primary-700;
    text-decoration: none;

}


.o_control_panel {
    background-color: #ffffff;
}

.breadcrumb {
    background-color: inherit;
}

// Input

input[type="text"], input[type="password"], input[type="number"],
textarea, select, .o_form_view.o_form_editable .o_form_field_many2manytags,
.o_searchview {
    border-bottom: 1px solid $gray-500;
}

.o_web_client input:focus, .o_web_client textarea:focus, .o_web_client select:focus {
    outline: none;
    border: 1px solid $brand-primary-600;
}

.o_input {
    border: 1px solid #ccc;
    color: $gray-500;
}

.o_field_widget {
    &.o_field_many2one .o_external_button {
        color: $brand-primary-600;
    }
}

.o_required_modifier {
    &.o_input, .o_input {
        background-color: $brand-primary-100 ! important;
    }
}

.input-group-text {
    background-color: transparent;
    color: #fff;
    border: 0px;
}

// Listview

.o_list_view.table {
    border: none;
}

.o_list_view.table thead, .o_list_view.table tfoot, .o_list_view.table td, .o_list_view.table th {
    border: none;
}

.o_list_view.table thead {
    background-color: $gray-200;
}

.o_list_view.table thead > tr > th.o_column_sortable:hover {
    background-color: $gray-300;
}

.o_list_view.table tbody tr.o_group_header {
    background-color: $gray-200;
    background-image: none;
    border-top: 1px solid $gray-200;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: $gray-50;
}

.o_list_view tfoot {
    background-color: $brand-primary-600;
    color: #ffffff;
    cursor: default;
    font-weight: normal;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: $gray-200;
}

.ui-menu-item a:hover, .ui-menu-item a:focus {
    color: $gray-500 !important;
}

.ui-autocomplete .ui-menu-item.ui-state-focus a {
    color: $gray-500 !important;
}

.o_form_view .oe_button_box .oe_stat_button .o_stat_info .o_stat_value {
    color: $brand-primary-600 !important;
}

.o_form_view .o_horizontal_separator {
    color: $gray-500;
    font-weight: bold;
}

// Forms

.o_form_view {

    .o_form_sheet_bg {
        background: none !important;
        background-color: $gray-50 !important;
        padding: 0px;

        .o_form_sheet {
            border: 1px solid $gray-300;
            box-shadow: 0 5px 20px -15px black;
        }
    }

    .o_form_statusbar {
        //margin: -16px;

        .o_statusbar_status {
            > .o_arrow_button {
                background: #ffffff;
            }
        }
    }
}

// App Dashboard

.o_menu_apps .dropdown-menu.show {
//    background: url(#{$menu-background});
    background-origin: border-box;
    background-size: cover;
    height: calc(100vh);
    max-height: calc(100vh);
    border-top: $o-navbar-height solid transparent;
    top: 0 !important;
}

.o_main_navbar > ul.o_menu_systray {
    float: right;
    position: relative;
    z-index: 200;
}

.fa-th-large::before {
    content: "\f00a";
}

.o_menu_apps .full {
    width: 46px;
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 200;
}

.o-app-name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

.o_menu_apps .dropdown-menu.show .o-app-icon {
    padding: 20px 0 0;
}

.o_menu_apps .dropdown-menu.show .o-app-icon:hover {
    box-shadow: 0 8px 15px -10px black;
    transform: translateY(-1px);
}

.dropdown-item.o_app {
    background: transparent;
}

.o-menu-search-result {
    color: $gray-500;
}

.o_form_view .o_form_uri > span:first-child {
    color: $brand-primary-600;
}

.o_form_view .o_form_uri > span:first-child:hover {
    color: $brand-primary-900;
}

// Chat window

.o_thread_window .o_thread_window_header {
    background-color: $brand-primary-600;
}


// Settings

.o_base_settings .o_setting_container .settings_tab .selected {
    background-color: &gray-900;
    box-shadow: inset 3px 0 0 $brand-primary-500;
}
